<%= simple_form_for(@loan, validate: true, html: { class: 'loan-form' }) do |f| %>
  <div class="column" id="column-1">
    <%= f.input :sale_price, label: 'Precio de venta', input_html: { value: number_with_precision(@loan.sale_price, precision: 2), min: 0.00, step: 0.01 } %>
    <%= f.input :initial_payment, label: 'Costo inicial (S/.)', input_html: { value: number_with_precision(@loan.initial_payment, precision: 2), min: 0.00 }, as: :string %>

    <%= f.input :amount_payable, label: 'Monto a pagar', input_html: { disabled: true, readonly: true, value: number_with_precision(@loan.amount_payable, precision: 2), min: 0.00 } %>

    <%= f.input :annual_interest_rate, label: 'TEA (%)', as: :string %>
    <%= f.input :annual_inflation_rate, label: 'Inflación anual (%)', as: :string %>
    <%= f.input :discount_rate, label: 'Tasa de descuento (%)', as: :string %>
  </div>
  <div class="column" id="column-2">
    <%= f.input :start_at, label: 'Fecha de inicio', use_short_month: true %>
    <div class="input numeric optional loan_total_time">
      <label class="numeric optional" for="loan_total_time">Tiempo</label><%= f.input_field :total_time, as: :decimal, type: :number, step: :any %>
      <%= f.input_field :total_time_type, collection: Loan::TIME_TYPES.invert, include_blank: false %>
    </div>
    <%= f.input :frequency, label: 'Frecuencia', collection: Loan::FREQUENCIES.invert, include_blank: false %>
    <%= f.input :grace_period_type, label: 'Plazo de gracia', collection: Loan::GRACE_PERIODS.invert, include_blank: false %>

    <%= f.input :payments_count, label: 'Número de cuotas', as: :numeric, input_html: { disabled: true, readonly: true } %>

    <%= f.submit 'Calcular', class: 'button belize-hole' %>
  </div>
  <div class="column" id="column-3">
    <div class="tab-container">
      <nav class="tabs">
        <a href="#">Gastos Iniciales</a>
        <a href="#">Gastos Periódicos</a>
      </nav>
      <div class="tab-panel">
        <table class="table table-striped table-condensed" id="loan-initial-costs">
          <thead>
            <tr>
              <th>Denominación</th>
              <th>Monto</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <%= f.simple_fields_for :initial_costs do |initial_cost_form| %>
              <tr>
                <td><%= initial_cost_form.input :name, label: false, collection: InitialCost::NAMES.invert %></td>
                <td><%= initial_cost_form.input :amount, label: false, as: :string %></td>
                <td></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      <div class="tab-panel">
        <table class="table table-striped table-condensed" id="loan-recurrent-costs">
          <thead>
            <tr>
              <th>Denominación</th>
              <th>Monto</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <%= f.simple_fields_for :recurrent_costs do |recurrent_cost_form| %>
              <tr>
                <td><%= recurrent_cost_form.input :name, label: false, collection: RecurrentCost::NAMES.invert %></td>
                <td><%= recurrent_cost_form.input :amount, label: false, as: :string %></td>
                <td></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<% end %>

<table class="table table-striped" id="loan-payments">
  <thead>
    <tr>
      <th>#</th>
      <th>Fecha</th>
      <th><abbr title="Tasa efectiva anual">TEA</abbr></th>
      <th><abbr title="Tasa efectiva del periodo">TEP</abbr></th>
      <th><abbr title="Inflación anualizada">IA</abbr></th>
      <th><abbr title="Inflación del periodo">IP</abbr></th>
      <th>Plazo de gracia</th>
      <th>Saldo inicial</th>
      <th>Interés</th>
      <th>Amortización</th>
      <th>Cuota</th>
      <th>Saldo final</th>
      <th>Flujo</th>
    </tr>
  </thead>
  <tbody>
    <% @loan.payments.each do |payment| %>
      <tr id="payment-<%= payment.id %>">
        <td class="payment_payment_index"><%= payment.payment_index %></td>
        <td class="payment_start_at"><%= payment.start_at %></td>
        <td class="payment_annual_interest_rate editable-field">
          <%= number_to_percentage(payment.annual_interest_rate * 100, significant: true) %>
        </td>
        <td class="payment_periodic_interest_rate">
          <%= number_to_percentage(payment.periodic_interest_rate * 100, significant: true) %>
        </td>
        <td class="payment_annual_inflation_rate editable-field">
          <%= number_to_percentage(payment.annual_inflation_rate * 100, significant: true) %>
        </td>
        <td class="payment_periodic_inflation_rate">
          <%= number_to_percentage(payment.periodic_inflation_rate * 100, significant: true) %>
        </td>
        <td class="payment_grace_period_type editable-field">
          <%= Loan::GRACE_PERIODS[payment.grace_period_type.to_sym] %>
        </td>
        <td class="payment_opening_balance"><%= conditional_format(number_to_currency(payment.opening_balance)) %></td>
        <td class="payment_interest"><%= conditional_format(number_to_currency(payment.interest)) %></td>
        <td class="payment_amortization"><%= conditional_format(number_to_currency(payment.amortization)) %></td>
        <td class="payment_quota"><%= conditional_format(number_to_currency(payment.quota)) %></td>
        <td class="payment_final_balance"><%= conditional_format(number_to_currency(payment.final_balance)) %></td>
        <td class="payment_cash_flow"><%= conditional_format(number_to_currency(payment.cash_flow)) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div id="payment-form-modal"></div>

<script>
  $(document).ready(function() {
    var costs_tabs = new Tabs($('.tab-container'));

    var loan_masked_inputs = new MaskedInput($('#loan_annual_interest_rate, #loan_annual_inflation_rate, #loan_discount_rate'), function(value) {
      return (value * 100) + "%";
    }, function(value) {
      return parseFloat(value) / 100;
    });

    $('.loan_initial_costs_name, .loan_recurrent_costs_name').find('select').each(function() {
      var input = $(this).parents('tr').find('input.string');

      if ($(this).val().match(/percentage/)) {
        loan_masked_inputs.add(input);
      }
    });

    $('.loan_initial_costs_name, .loan_recurrent_costs_name').find('select').on('change', function() {
      var input = $(this).parents('tr').find('input.string');

      if ($(this).val().match(/percentage/)) {
        loan_masked_inputs.add(input);
      }
      else {
        loan_masked_inputs.remove(input);
      }
    });

    var editable_field_labels = {
      annual_interest_rate: 'TEA',
      periodic_interest_rate: 'TEP',
      annual_inflation_rate: 'Inflación anual',
      periodic_inflation_rate: 'Inflación del periodo',
      grace_period_type: 'Plazo de gracia'
    };

    $('.editable-field').on('click', function() {
      var payment_id = $(this).parents('tr').attr('id').replace('payment-', '');

      var field = $(this).attr('class').replace('editable-field', '').trim().replace('payment_', '').trim();

      var position = $(this).first().position();
      var width = $(this).outerWidth() + 10;

      $.ajax({
        url: '/payments/' + payment_id + '/form',
        type: 'GET',
        dataType: 'html',
        data: {
          field: field,
          label: editable_field_labels[field]
        },
        success: function(data) {
          $('#payment-form-modal').html(data);

          position.left = position.left + width;
          position.top = position.top - ($('#payment-form-modal').height() / 2);

          $('#payment-form-modal').css(position).show();
        }
      });
    });
  });
</script>