<nav>
  <h1>Mis préstamos</h1>
  <a href="/loans/new" class="button belize-hole float right">Registrar préstamo</a>
</nav>

<% if @loans.empty? %>
  <div class="message-container">
    <p class="message">
      Aún no tienes préstamos registrados.
    </p>
    <a href="/loans/new" class="button belize-hole">Registrar préstamo</a>
  </div>
<% else %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Precio de venta</th>
        <th>Monto a pagar</th>
        <th>Fecha de inicio</th>
        <th>Tiempo</th>
        <th>Número de cuotas</th>
        <th><abbr title="Tasa de costo efectivo anual">TCEA</abbr></th>
        <th><abbr title="Tasa interna de retorno">TIR</abbr></th>
        <th><abbr title="Valor actual neto">VAN</abbr></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @loans.each do |loan| %>
        <tr>
          <td><%= loan.sale_price %></td>
          <td><%= loan.amount_payable %></td>
          <td><%= loan.start_at %></td>
          <td><%= loan.total_time %> <%= Loan::TIME_TYPES[loan.total_time_type] %></td>
          <td><%= loan.payments_count %></td>
          <td><%= number_to_percentage(loan.profits[:effective_annual_cost_rate] * 100) %></td>
          <td><%= number_to_percentage(loan.profits[:irr] * 100, significant: true) %></td>
          <td><%= number_to_currency(loan.profits[:npv]) %></td>
          <td><a href="<%= loan_path(loan) %>">Ver</a></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>