<h1>Nuevo préstamo</h1>

<%= simple_form_for(@loan, html: { class: 'loan-form' }) do |f| %>
  <div class="column" id="column-1">
    <%= f.input :sale_price, label: 'Precio de venta' %>
    <%= f.input :initial_payment, label: 'Costo inicial' %>

    <%= f.input :amount_payable, label: 'Monto a pagar', input_html: { disabled: true } %>

    <%= f.input :annual_interest_rate, label: 'TEA (%)' %>
    <%= f.input :annual_inflation_rate, label: 'Inflación anual (%)' %>
    <%= f.input :discount_rate, label: 'Tasa de descuento (%)' %>
  </div>
  <div class="column" id="column-2">
    <%= f.input :start_at, label: 'Fecha de inicio', use_short_month: true %>
    <div class="input numeric optional loan_total_time">
      <label class="numeric optional" for="loan_total_time">Tiempo</label><%= f.input_field :total_time, as: :decimal, type: :number, step: :any, value: 1 %>
      <%= f.input_field :total_time_type, collection: Loan::TIME_TYPES.invert %>
    </div>
    <%= f.input :frequency, label: 'Frecuencia', collection: Loan::FREQUENCIES.invert %>
    <%= f.input :grace_period_type, label: 'Periodo de gracia', collection: Loan::GRACE_PERIODS.invert, include_blank: false %>
    <%= f.submit 'Calcular', class: 'button belize-hole' %>
  </div>
  <div class="column" id="column-3">
    <fieldset>
      <legend>Gastos Iniciales</legend>
      <%= f.simple_fields_for :initial_costs do |initial_cost_form| %>
        <%= initial_cost_form.input :name %>
        <%= initial_cost_form.input :amount %>
      <% end %>
    </fieldset>

    <fieldset>
      <legend>Gastos Periódicos</legend>
      <%= f.simple_fields_for :recurrent_costs do |recurrent_cost_form| %>
        <%= recurrent_cost_form.input :name %>
        <%= recurrent_cost_form.input :amount %>
      <% end %>
    </fieldset>
  </div>
<% end %>